{% extends "wrapper.html" %}
{% block content %}
<!-- main div is started here -->
<div class="button_wrapper">
	<a href="/get_sn">
		<div class="blue_box big_button_left centered_text" id="plant_page_button">
			<h2>Plants</h2>
			<p>If you are in a plant forming room, please click this box.</p>
		</div>
	</a>
	<a href="/tucson">
		<div class="blue_box big_button_right centered_text" id="login_page_button">
			<h2>Tucson</h2>
			<p>If you are in the Tucson Alloy Shop, please click this box.</p>
		</div>
	</a>
	<div class="clearfix"></div>
	<a href="/data_extraction">
		<div class="blue_box big_button_center centered_text" id="login_page_button">
			<h2>Data Extraction</h2>
			<p>If you would like to retreive bushing failure data, please click this box.</p>
		</div>
	</a>
</div> <!-- end button_wrapper -->
<!-- main div is ended here -->
{% endblock %}